.body{
    background-color: #D0D7DE;  
}
.nav-bar{
    background-color: #010312;
    width: 100%;
    height: 60px;
    /* position: fixed; */


}
.site-bar{
    background-color: #00020e;

}
.nav-bar-child{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-bar-child img{
  height: 160px;
}
.nav-bar-child1{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .deconnect{
    width: 10%;
    height: 5vh;
    background-color: #FF7312;
    border-radius: 10px;
    margin-top: 0.75%;
}
.deconnect a{
    color: white;
}
.cercle {
    width: 100px;
    height: 100px;
    background-image: url(../assets/pp.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 85%;
}
.liste a{
    background-color: #FF7312;
    color: white;

}
.liste1 a{
    background-color: #000209
}

.liste-end a{
    background-color: #FF7312;
    margin-top: 40vh;
    color: white;

}
.main{
    width: 81%;
    height: 90vh;
    margin-right: 1%;
}
.main-client{
    width: 96%;
    height: 90vh;
    margin-left: 2%;
}
.bntAjout{
    background-color: #FF7312;
    margin-left: 75%;
    border-radius: 8px;
    width: 10%;
}
.bntAdd{
    background-color: #FF7312;
    border-radius: 8px;
    width: 14%;
    margin-left: 45%;
    color: white;
    height: 6vh;
}
.bntAddClient{
    background-color: #FF7312;
    border-radius: 8px;
    width: 14%;
    margin-left: 78%;
    color: white;
    height: 6vh;
}
.bntAjout a{
    color: white;
}
.bntAjoute{
    background-color: #FF7312;
    margin-left: 40%;
    border-radius: 8px;
    width: 40%;
    color: white;

}
.div-filtre{
    width: 98%;
    margin-left: 1%;
}
.div-tab{
    width: 98%;
    margin-left: 1%;
}
.div-tabe{
    width: 98%;
    margin-left: 1%;
    height: 80vh;
}
.form-add-dett{
    width: 98%;
    margin-left: 1%;
}
.color-but{
    background-color: #FF7312;
    border-radius: 8px;
    width: 16%;
    color: white;

}
.add-qte{
    width: 94%;
    margin-left: 3%;
}
.add-qtes{
    width: 99%;
    margin-left: 0.5%;
}
  .cercle-user{
    width: 50px;
    height: 50px;
    background-color: #000106;
    border-radius: 50%;
  }
  .cercle-user img{
    width: 50px;
    height: 50px;
    background-color: #00020b;
    border-radius: 50%;
  }
  .D-tab{
    width: 100%;
  }
  .add{
    color: white;
  }

  .div-recu{
    width: 60%;
    margin-left: 20%;
}
.recu {
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cercle-recu {
    width: 80px; 
    height: 80px;
    background-image: url(../assets/kay_dieude.png);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-left: 60%;
    background-color: #000106;
}
.hr{
    width: 92%;
    background-color: #FF7312;
    height: 2px;
    margin-left: 4%;
}
.info{
    width: 30%;
    height: 12vh;

}
.info h2{
    font-size: 16px;
    font-weight: bold;

}
.info h6{
    font-size: 12px;

}
.container-info{
    width: 85%;
    margin-left: 7.5%;

}
.cercle-login {
    width: 70px; 
    height: 70px;
    background-image: url(../assets/kay_dieude.png);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-left: 45%;
    background-color: #000106;
}
.labelLogin{
margin-left: -80%;
margin-top: 2%;
}
.labelemail{
    margin-left: -90%;
    margin-top: 2%;
    }
.btnLogin{
    background-color: #FF7312;
    height: 6vh;
    border-radius: 8px;
    width: 10%;
    color: white;
}
.carte{
    width: 23%;
    height: 12vh;
    box-shadow:  4px 4px 4px  #FF7312;
}
.carte:hover{
    background-color: rgba(255, 115, 18, 0.16);
}
.cert-img img{
    height: 50px;
}
.certe-img img{
    height: 40px;
}
.filterTel{
    background-color: rgba(222, 220, 220, 0.975);
    width: 60%;
    border: none;
    height: 40px;
    border-radius: 8px;
}
.fiche{
    width: 23%;
    height: 15vh;
    box-shadow:  4px 4px 4px  #FF7312;
}
.fiche:hover{
    background-color: rgba(255, 115, 18, 0.16);
}
.fiche h6{
    margin-left: -35%;
    font-size: 13px;
}
.fiche h5{
    margin-left: -35%;
    font-size: 12px;
    font-weight: bold;
}
.cercleFiche{
    width: 100px;
    height: 100px;
    background-color: #FF7312;
    border-radius: 50%;
}
.cercleFiche img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .cat-select{
    width: 100%;
    border: solid 0.5px lightgray;
    border-radius: 8px;
    height: 37px;
  }
  .btn-modifier{
    background-color: #FF7312;
    border: none;
    color: white;
    height: 5vh;
    border-radius: 8px;
    width: 35%;
  }